@import "normalize/import-now";

@import "functions",
				"mixins";

@import "color/core";
/* ====================================
		== BASE FRAMEWORK == 
		GLOBAL
 * ==================================== */
// BOX-SIZING RESET
html, body {
	box-sizing: border-box;
	& *, & *:before, & *:after {
		box-sizing: inherit;
	}
}

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}