<div id="Create-Location">>
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a href="#">Locations</a>
            <ul>
                <li><a data-location-type="1">Pantry</a></li>
                <li><a data-location-type="2">Refridgerator</a></li>
                <li><a data-location-type="3">Freezer</a></li>
            </ul>
        </li>
    </ul>
    <button type="button" id="create-location-btn" class="success button">Create Now</button>
</div>