<div id="Create-Container">>
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a href="#">Container Choices</a>
            <ul>
                <li><a data-container-type="1">Shelf</a></li>
                <li><a data-container-type="2">Drawer</a></li>
            </ul>
        </li>
    </ul>
    <button type="button" id="create-container-btn" class="success button">Create Now</button>
</div>