	<link rel="stylesheet" href="./themes/{{theme}}/css/{{theme}}-styles.css" type="text/css" />
</head>
<body>
<header class="site-header top-bar text-center">
		<h1 class="site-title text-center">❤ DESPENSA ❤</h1>
</header>
<ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Accordion 1</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
</ul>