	<link rel="stylesheet" href="global-styles.css" type="text/css">
	<link rel="stylesheet" href="./themes/{{theme}}/css/{{theme}}-styles.css" type="text/css" />
</head>
<body>
<header class="site-header">
<h1>❤ DESPENSA ❤</h1>
</header>
<nav>
<ul class="menu">
	<li><a href="/">Home</a> </li>
	<li><a href="/user">User</a> </li>
</ul>
</nav>