	<link rel="stylesheet" href="./themes/{{theme}}/css/{{theme}}-styles.css" type="text/css" />
</head>
<body>
<header class="site-header top-bar">
	<div class="top-bar-left">
		<h1 class="site-title">❤ DESPENSA ❤</h1>
	</div>
	<nav class="site-nav top-bar-right">
		<ul class="menu align-center">
			<li><a href="/">Home</a> </li>
			<li><a href="/user">User</a> </li>
		</ul>
	</nav>
</header>
