	<link rel="stylesheet" href="./themes/{{theme}}/css/{{theme}}-styles.css" type="text/css" />
</head>
<body>
<header class="site-header">
<h1>❤ DESPENSA ❤</h1>
</header>
<nav>
	<ul class="menu align-center">
		<li><a href="/">Home</a> </li>
		<li><a href="/user">User</a> </li>
	</ul>
</nav>