<div id="location-menu">
	<ul class="accordion" data-responsive-accordion-tabs="accordion large-tabs">
		{{#each Locations}}
			<li class="accordion-item {{dataValues.type}} {{@first }}" data-accordion-item>
				<a href="#" class="accordion-title">{{dataValues.name}}</a>

				<div class="accordion-content" data-tab-content>
					<ul class='food-item'>
						{{#each Food}}
							<li class='food'>{{dataValues.name}}</li>
						{{/each}}
					</ul>
				</div>
			</li>
		{{/each}}
	</ul>
</div>