<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>❤ Despensa ❤</title>
	<script src="https://kit.fontawesome.com/21fa34df8d.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/app.min.js"></script>
	<link rel="stylesheet" href="global-styles.css" type="text/css" />
</head>
<body>
	{{{ body }}}
</body>
</html>
