<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="images/barry-cado--transparent.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>❤ Despensa ❤</title>
	{{!-- FontAwesome Pro Icons --}}
	<script src="https://kit.fontawesome.com/21fa34df8d.js" crossorigin="anonymous"></script>
	<!-- Foundations CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Foundations JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
	{{!-- DESPENSA JS --}}
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="global-styles.css" type="text/css" />
	{{{ body }}}

	</div> <!-- end page container -->
	<script>
      $(document).foundation();
    </script>
</body>
</html>
