<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>❤ Despensa ❤</title>
	<script src="https://kit.fontawesome.com/21fa34df8d.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/app.min.js"></script>
	<link rel="stylesheet" href="global-styles.css" type="text/css" />
</head>
<body>
	<div class="top-bar">
		<div class="top-bar-left">
				<li class="menu-text">Despensa</li>
		</div>
		<div class="top-bar-right">
				<li>
					<a href="#">One</a>
					<ul class="menu vertical">
						<li><a href="#">Sign-In/Out</a></li>
						<li><a href="#">View Despensa</a></li>
						<li><a href="#">Add Food</a></li>
					</ul>
				</li>
		</div>
	</div>
	{{{ body }}}
</body>
</html>
