<a class="button expanded" href="#">Scane Barcode</a>
<a class="button expanded" href="#">Upload Barcode</a>

<div class="card" style="width: 300px;">
    <div class="card-divider">
        Barcode Info
    </div>
    <div class="card-section">
        <h4>{{barcode.info1}}</h4>
        <h4>{{barcode.info2}}</h4>
        <h4>{{barcode.info3}}</h4>
        <h4>{{barcode.info4}}</h4>
        <label for="useby">Please enter number of days before food is spoiled</label>
        <input type="number" name="useby">
    </div>
</div>


<div id="Switcharoo-Location">
    <h3>Locations</h3>
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">Pantry</a></li>
        <li><a href="#">Refridgerator</a></li>
        <li><a href="#">Freezer</a></li>
    </ul>
</div>

{{!-- then.... --}}

<div id="Switcharoo-Container">
    <h3>Locations</h3>
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">Shelf</a></li>
        <li><a href="#">Drawer</a></li>
    </ul>
</div>