<button type="button" class="success button">Deafult Despensa</button>

<div id="Switcharoo-Location">
    <h3>Locations</h3>
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">Pantry</a></li>
        <li><a href="#">Refridgerator</a></li>
        <li><a href="#">Freezer</a></li>
    </ul>
</div>

{{!-- then.... --}}

<div id="Switcharoo-Container">
    <h3>Locations</h3>
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">Shelf</a></li>
        <li><a href="#">Drawer</a></li>
    </ul>
</div>