{{> header}}
<h1>We ❤ Food</h1>
<h3>And Have <em>Opinions</em> About Yours</h3>
<blockquote class="legal-notice">"Opinions" are personal beliefs about a particular topic and may be wildly inaccurate.
    A (non-literal) grain of salt should be taken with each opinion presented. <cite>- Legal</cite></blockquote>
{{> menu}}

<div class="reveal" id="optionsModal" data-reveal>
    <<h1>What would you like to do?</h1>
        <div class="button-group">
            <button>Create New Location</button>
            <button>Add Food to Inventory</button>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a id="metroToggle">Metro</a></li>
                <li><a id="spaceToggle">Space</a></li>
                <li><a id="gothToggle">Goth</a></li>
                <li><a id="cuteToggle">Cute</a></li>
            </ul>

        </div>
</div>