{{> header}}
{{!-- <h1>We ❤ Food</h1>
<h3>And Have <em>Opinions</em> About Yours</h3>
<blockquote class="legal-notice">"Opinions" are personal beliefs about a particular topic and may be wildly inaccurate.
    A (non-literal) grain of salt should be taken with each opinion presented. <cite>- Legal</cite></blockquote> --}}
{{> menu}}