{{> user}}

<h1>What would you like to do?</h1>
<div class="button-group">
    <a href="#" class="button">Create New Location</a>
    <a href="#" class="button">Add Food to Inventory</a>
    <a href="#" class="button">Access your Despensa</a>
</div>