@import "../../../styles/global/core";

$coreColors: (
	"lime": #CAFE48,
	"aquamarine": #70F8BA,
	"blue": #7CB4B8,
	"grape": #57467B,
	"neutral": #524948
);

@include palette($color: 'lime', $complement-name: 'complement', $rangeType: 'static', $rangeDepth: 9);

$body--bg-color: getColor('neutral-50');
$text-color: getColor('neutral-700');
$site-header--bg-color: getColor('lime-500');
$site-title--color: getColor('neutral-50');

$body--bg-color: getColor('neutral-100');
$body--color: getColor('grape-400');
$legal-notice--color: getColor('neutral-400');
$legal-notice--border-left: 4px solid getColor('aquamarine-400');
$legal-notice--bg-color: darkenColor(getColor('neutral-50'), 6);

$accordion--bg-color: getColor('neutral-500');
$accordion--bg-color-2: getColor('lime-500');

$pantry--bg-color: getColor('aquamarine-400');
$pantry--color: getContrast($pantry--bg-color);

$fridge--bg-color: getColor('blue-400');
$fridge--color: getContrast($fridge--bg-color);

$freezer--bg-color: getColor('grape-400');
$freezer--color: getContrast($freezer--bg-color);