/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
	margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
	display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
	font-size: 2em;
	margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
	display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
	margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
	display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
	outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
	/* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
	font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
	font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
	font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
	background-color: #ff0;
	color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
	font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sub {
	bottom: -0.25em; }

sup {
	top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
	display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
	display: none;
	height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
	border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
	overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
	overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
	/* 1 */
	text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
	/**
       * Remove the inner border and padding in Firefox.
       */
	/**
       * Restore the focus styles unset by the previous rule.
       */ }
	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
		border-style: none;
		padding: 0; }
	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring {
		outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
	overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
	/**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
	[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
		-webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	color: inherit;
	/* 2 */
	white-space: normal;
	/* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
	overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
	display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
	display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
	display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
	display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
	display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
	display: none; }

/* ====================================
		== BASE FRAMEWORK == 
		GLOBAL
 * ==================================== */
html, body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	html *, html *:before, html *:after, body *, body *:before, body *:after {
		-webkit-box-sizing: inherit;
		        box-sizing: inherit; }

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%; }

body {
	background-color: #dedede;
	color: #363636; }

.site-header {
	background-color: #88bc29; }

.site-title {
	color: #f7f7f7; }

ul.menu {
	background-color: transparent; }

body {
	background-color: #dedede;
	color: #0d0d0d;
	height: 100vh;
	position: relative;
	font-size: 1rem; }

#page-container {
	height: 100vh; }

.site-header {
	padding: 0 4rem; }

.top-bar-right {
	text-align: center; }

.legal-notice {
	color: #919191;
	font-size: smaller;
	border-left: 4px solid #f6802d;
	display: inline-block;
	padding: 1rem;
	background-color: #e9e9e9; }

#location-menu {
	position: fixed;
	width: 100%;
	bottom: 0; }

.form-horizontal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end; }
	.form-horizontal .field-group {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		margin: 0 0.1rem; }

.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch; }
	.tabs li {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		text-align: center; }
		.tabs li a {
			font-size: 1rem; }

.accordion {
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
	border: 0;
	margin-bottom: 0;
	padding: 0;
	background-color: #737373; }
	.accordion li {
		border-radius: inherit;
		background-color: #737373;
		border: 0; }
		.accordion li:active, .accordion li.is-active {
			background-color: #88bc29; }
			.accordion li:active a, .accordion li.is-active a {
				background-color: transparent; }
	.accordion a {
		border: 0;
		color: #f8f8f8;
		font-size: 1rem; }
	.accordion .accordion-content {
		background-color: transparent;
		border: 0; }

li.pantry {
	background-color: #f6802d; }
	li.pantry a {
		color: #f8f8f8; }
	li.pantry.accordion-item::after {
		z-index: -1;
		height: 20px;
		width: 1200px;
		position: absolute;
		bottom: 0;
		background-color: #f6802d; }

li.refrigerator {
	background-color: #30e0f3; }
	li.refrigerator a {
		color: #0b0b0b; }

li.freezer {
	background-color: #d64c6f; }
	li.freezer a {
		color: #f8f8f8; }

.btn {
	position: relative;
	background-color: gainsboro;
	margin: 0.2rem 0.4rem;
	padding: 0.5rem 1rem;
	vertical-align: middle; }
	.btn-default {
		background-color: #5D576B;
		color: #f8f8f8; }
	.btn-info {
		background-color: #41D3BD;
		color: #0b0b0b; }
	.btn-success {
		background-color: #A9E190;
		color: #0b0b0b; }
	.btn-alert {
		background-color: #F4F1BB;
		color: #0b0b0b; }
	.btn-warn {
		background-color: #ED6A5A;
		color: #f8f8f8; }
