// quad/quadratic = square tetrad harmony; tetrad/tetradic = rectangular tetrad
$range: 'static';
@include palette($color: 'primary', $complement-name: 'complement', $rangeType: $range, $rangeDepth: 9);

body {
	background-color: getColor('neutral-100');
	color: getColor('accent-400');
}

.site-header {
	padding: 0 4rem;
}

.top-bar-right {
	text-align: center;
}

.legal-notice {
	color: getColor('neutral-400');
	font-size: smaller;
	border-left: 4px solid getColor('secondary-400');
	display: inline-block;
	padding: 1rem;
	background-color: darkenColor(getColor('neutral-50'), 6);
}