// quad/quadratic = square tetrad harmony; tetrad/tetradic = rectangular tetrad
$range: 'static';
@include palette($color: 'primary', $complement-name: 'complement', $rangeType: $range, $rangeDepth: 9);

$body--bg-color: getColor('neutral-100');
$body--color: getColor('accent-400');
$legal-notice--color: getColor('neutral-400');
$legal-notice--border-left: 4px solid getColor('secondary-400');
$legal-notice--bg-color: darkenColor(getColor('neutral-50'), 6);

$accordion--bg-color: getColor('neutral-500');
$accordion--bg-color-2: getColor('primary-500');