/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
	margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
	display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
	font-size: 2em;
	margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
	display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
	margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
	display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
	outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
	/* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
	font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
	font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
	font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
	background-color: #ff0;
	color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
	font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sub {
	bottom: -0.25em; }

sup {
	top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
	display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
	display: none;
	height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
	border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
	overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
	overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
	/* 1 */
	text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
	/**
       * Remove the inner border and padding in Firefox.
       */
	/**
       * Restore the focus styles unset by the previous rule.
       */ }
	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
		border-style: none;
		padding: 0; }
	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring {
		outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
	overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
	/**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
	[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
		-webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	color: inherit;
	/* 2 */
	white-space: normal;
	/* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
	overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
	display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
	display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
	display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
	display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
	display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
	display: none; }

/* ====================================
		== BASE FRAMEWORK == 
		GLOBAL
 * ==================================== */
html, body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	html *, html *:before, html *:after, body *, body *:before, body *:after {
		-webkit-box-sizing: inherit;
		        box-sizing: inherit; }

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%; }

.text-left {
	text-align: left; }

.text-center {
	text-align: center; }

.text-right {
	text-align: right; }

.justify-start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start; }

.justify-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center; }

.justify-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end; }

.justify-space-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; }

.justify-space-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around; }

.justify-space-evenly {
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly; }

.align-stretch {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch; }

.align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }

.align-start {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start; }

.align-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: end; }

.site-title,
.quote {
	font-family: 'Lobster Two', cursive; }

body {
	background-color: #d9dce2;
	color: #7f46dc;
	height: 100vh;
	position: relative;
	font-size: 1rem; }

img {
	display: block;
	margin: 0 auto; }

.fas, .far,
.top-bar .menu a {
	font-size: 1.5rem; }

#page-container {
	height: 100vh; }

.site-header {
	padding: 0 4rem; }
	.site-header .field-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap; }
	.site-header label {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 0; }
	.site-header input {
		min-height: 3rem;
		width: 100%;
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		margin-top: 1px; }

.top-bar-right {
	text-align: center; }

.legal-notice {
	color: #838aa0;
	font-size: smaller;
	border-left: 4px solid #74b072;
	display: inline-block;
	padding: 1rem;
	background-color: #e5e7ec; }

#location-menu {
	position: fixed;
	width: 100%;
	bottom: 0; }

.form-horizontal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end; }
	.form-horizontal .field-group {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		margin: 0 0.1rem; }

.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch; }
	.tabs li {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		text-align: center; }
		.tabs li a {
			font-size: 1rem; }

.accordion {
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
	border: 0;
	margin-bottom: 0;
	padding: 0;
	background-color: #636c82; }
	.accordion li {
		border-radius: inherit;
		background-color: #636c82;
		border: 0; }
		.accordion li:active, .accordion li.is-active {
			background-color: #d9260d; }
			.accordion li:active a, .accordion li.is-active a {
				background-color: transparent; }
	.accordion a {
		border: 0;
		color: #fefefe;
		font-size: 1rem; }
	.accordion .accordion-content {
		border: 0;
		overflow: auto; }

li.pantry {
	background-color: #74b072; }
	li.pantry a {
		color: #fefefe; }
	li.pantry.accordion-item::after {
		z-index: -1;
		height: 20px;
		width: 1200px;
		position: absolute;
		bottom: 0;
		background-color: #74b072; }

li.refridgerator {
	background-color: #44dfcc; }
	li.refridgerator a {
		color: #373737; }

li.freezer {
	background-color: #7f46dc; }
	li.freezer a {
		color: #fefefe; }

.reveal.large {
	min-height: 90%; }

.dropdown li {
	list-style-type: none; }

.food-item {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	position: relative; }

.accordion .food-item .food,
.tabs .food-item .food {
	z-index: 1;
	background-color: #fad9a3;
	color: #373737;
	padding: 0.5rem 1.5rem;
	text-align: center;
	margin: 1rem; }

.accordion li.is-active > a,
.tabs li.is-active > a {
	background-color: black; }

.avocadoAdvice {
	margin: 1rem 0;
	padding: 1rem 1rem 1rem 1.5rem;
	background-color: lemonchiffon;
	border-left: 5px solid olive; }

.twitter {
	color: #1da1f2; }

#optionsModal div:first-child,
#optionsModal div:nth-child(2) {
	max-width: 50%;
	display: inline-block; }

.quote {
	font-size: 3rem;
	text-align: center;
	background-color: lemonchiffon;
	padding: 2rem;
	margin-top: 3rem; }

.btn {
	position: relative;
	background-color: gainsboro;
	margin: 0.5rem 0.4rem;
	padding: 1rem;
	vertical-align: middle;
	color: white; }
	.btn-default-50 {
		background-color: #f7f7f8 !important;
		color: #373737; }
	.btn-default-100 {
		background-color: #dcdae1 !important;
		color: #373737; }
	.btn-default-200 {
		background-color: #ada8b8 !important;
		color: #373737; }
	.btn-default-300 {
		background-color: #6e677f !important;
		color: #fefefe; }
	.btn-default-400 {
		background-color: #33303b !important;
		color: #fefefe; }
	.btn-default-500 {
		background-color: #0c0b0e !important;
		color: #fefefe; }
	.btn-info-50 {
		background-color: #f3fcfb !important;
		color: #373737; }
	.btn-info-100 {
		background-color: #c9f3ec !important;
		color: #373737; }
	.btn-info-200 {
		background-color: #7fe1d2 !important;
		color: #373737; }
	.btn-info-300 {
		background-color: #2bbaa5 !important;
		color: #373737; }
	.btn-info-400 {
		background-color: #14574d !important;
		color: #fefefe; }
	.btn-info-500 {
		background-color: #051512 !important;
		color: #fefefe; }
	.btn-success-50 {
		background-color: #f6fcf3 !important;
		color: #373737; }
	.btn-success-100 {
		background-color: #d7f1cb !important;
		color: #373737; }
	.btn-success-200 {
		background-color: #9fdd83 !important;
		color: #373737; }
	.btn-success-300 {
		background-color: #5ab531 !important;
		color: #fefefe; }
	.btn-success-400 {
		background-color: #2a5417 !important;
		color: #fefefe; }
	.btn-success-500 {
		background-color: #0a1405 !important;
		color: #fefefe; }
	.btn-alert-50 {
		background-color: #fdfcf2 !important;
		color: #373737; }
	.btn-alert-100 {
		background-color: #f6f3c6 !important;
		color: #373737; }
	.btn-alert-200 {
		background-color: #e9e377 !important;
		color: #373737; }
	.btn-alert-300 {
		background-color: #c6bd20 !important;
		color: #373737; }
	.btn-alert-400 {
		background-color: #5c580f !important;
		color: #fefefe; }
	.btn-alert-500 {
		background-color: #161504 !important;
		color: #fefefe; }
	.btn-warn-50 {
		background-color: #fdf3f1 !important;
		color: #373737; }
	.btn-warn-100 {
		background-color: #f8c9c3 !important;
		color: #373737; }
	.btn-warn-200 {
		background-color: #ef7e70 !important;
		color: #fefefe; }
	.btn-warn-300 {
		background-color: #cf2b17 !important;
		color: #fefefe; }
	.btn-warn-400 {
		background-color: #61140b !important;
		color: #fefefe; }
	.btn-warn-500 {
		background-color: #170503 !important;
		color: #fefefe; }
	.btn-default-analogous1-50 {
		background-color: #f7f8f8 !important;
		color: #373737; }
	.btn-default-analogous1-100 {
		background-color: #dae1e1 !important;
		color: #373737; }
	.btn-default-analogous1-200 {
		background-color: #a8b7b8 !important;
		color: #373737; }
	.btn-default-analogous1-300 {
		background-color: #677d7f !important;
		color: #fefefe; }
	.btn-default-analogous1-400 {
		background-color: #303b3b !important;
		color: #fefefe; }
	.btn-default-analogous1-500 {
		background-color: #0b0e0e !important;
		color: #fefefe; }
	.btn-default-analogous2-50 {
		background-color: #f7f7f8 !important;
		color: #373737; }
	.btn-default-analogous2-100 {
		background-color: #dadce1 !important;
		color: #373737; }
	.btn-default-analogous2-200 {
		background-color: #a8abb8 !important;
		color: #373737; }
	.btn-default-analogous2-300 {
		background-color: #676c7f !important;
		color: #fefefe; }
	.btn-default-analogous2-400 {
		background-color: #30323b !important;
		color: #fefefe; }
	.btn-default-analogous2-500 {
		background-color: #0b0c0e !important;
		color: #fefefe; }
	.btn-default-analogous3-50 {
		background-color: #f8f7f8 !important;
		color: #373737; }
	.btn-default-analogous3-100 {
		background-color: #e0dae1 !important;
		color: #373737; }
	.btn-default-analogous3-200 {
		background-color: #b5a8b8 !important;
		color: #373737; }
	.btn-default-analogous3-300 {
		background-color: #7a677f !important;
		color: #fefefe; }
	.btn-default-analogous3-400 {
		background-color: #39303b !important;
		color: #fefefe; }
	.btn-default-analogous3-500 {
		background-color: #0e0b0e !important;
		color: #fefefe; }
	.btn-default-analogous4-50 {
		background-color: #f8f7f7 !important;
		color: #373737; }
	.btn-default-analogous4-100 {
		background-color: #e1dade !important;
		color: #373737; }
	.btn-default-analogous4-200 {
		background-color: #b8a8af !important;
		color: #373737; }
	.btn-default-analogous4-300 {
		background-color: #7f6772 !important;
		color: #fefefe; }
	.btn-default-analogous4-400 {
		background-color: #3b3035 !important;
		color: #fefefe; }
	.btn-default-analogous4-500 {
		background-color: #0e0b0d !important;
		color: #fefefe; }
	.btn > i {
		margin: 0;
		padding: 0; }

.text-white {
	color: white !important; }

.text-black {
	color: black !important; }

.message {
	margin: 1rem 0 2.5rem;
	padding: 1rem;
	font-size: 1.25rem; }
	.message-default-50 {
		border: 5px solid #f7f7f8;
		background-color: #fbfbfc;
		color: #373737; }
	.message-default-100 {
		border: 5px solid #dcdae1;
		background-color: #eeedf0;
		color: #373737; }
	.message-default-200 {
		border: 5px solid #ada8b8;
		background-color: #d6d3dc;
		color: #373737; }
	.message-default-300 {
		border: 5px solid #6e677f;
		background-color: #b6b2c0;
		color: #fefefe; }
	.message-default-400 {
		border: 5px solid #33303b;
		background-color: #9690a5;
		color: #fefefe; }
	.message-default-500 {
		border: 5px solid #0c0b0e;
		background-color: #817992;
		color: #fefefe; }
	.message-info-50 {
		border: 5px solid #f3fcfb;
		background-color: #f9fefd;
		color: #373737; }
	.message-info-100 {
		border: 5px solid #c9f3ec;
		background-color: #e4f9f6;
		color: #373737; }
	.message-info-200 {
		border: 5px solid #7fe1d2;
		background-color: #bff0e9;
		color: #373737; }
	.message-info-300 {
		border: 5px solid #2bbaa5;
		background-color: #8de5d7;
		color: #373737; }
	.message-info-400 {
		border: 5px solid #14574d;
		background-color: #5bd9c6;
		color: #fefefe; }
	.message-info-500 {
		border: 5px solid #051512;
		background-color: #3ad1bb;
		color: #fefefe; }
	.message-success-50 {
		border: 5px solid #f6fcf3;
		background-color: #fafdf9;
		color: #373737; }
	.message-success-100 {
		border: 5px solid #d7f1cb;
		background-color: #ebf8e5;
		color: #373737; }
	.message-success-200 {
		border: 5px solid #9fdd83;
		background-color: #cfeec1;
		color: #373737; }
	.message-success-300 {
		border: 5px solid #5ab531;
		background-color: #a9e191;
		color: #fefefe; }
	.message-success-400 {
		border: 5px solid #2a5417;
		background-color: #84d460;
		color: #fefefe; }
	.message-success-500 {
		border: 5px solid #0a1405;
		background-color: #6bcb40;
		color: #fefefe; }
	.message-alert-50 {
		border: 5px solid #fdfcf2;
		background-color: #fefef8;
		color: #373737; }
	.message-alert-100 {
		border: 5px solid #f6f3c6;
		background-color: #faf9e2;
		color: #373737; }
	.message-alert-200 {
		border: 5px solid #e9e377;
		background-color: #f4f1bb;
		color: #373737; }
	.message-alert-300 {
		border: 5px solid #c6bd20;
		background-color: #ebe686;
		color: #373737; }
	.message-alert-400 {
		border: 5px solid #5c580f;
		background-color: #e3db52;
		color: #fefefe; }
	.message-alert-500 {
		border: 5px solid #161504;
		background-color: #ddd42e;
		color: #fefefe; }
	.message-warn-50 {
		border: 5px solid #fdf3f1;
		background-color: #fef9f8;
		color: #373737; }
	.message-warn-100 {
		border: 5px solid #f8c9c3;
		background-color: #fce4e1;
		color: #373737; }
	.message-warn-200 {
		border: 5px solid #ef7e70;
		background-color: #f7bfb8;
		color: #fefefe; }
	.message-warn-300 {
		border: 5px solid #cf2b17;
		background-color: #f18d81;
		color: #fefefe; }
	.message-warn-400 {
		border: 5px solid #61140b;
		background-color: #eb5b49;
		color: #fefefe; }
	.message-warn-500 {
		border: 5px solid #170503;
		background-color: #e73a25;
		color: #fefefe; }
	.message-default-analogous1-50 {
		border: 5px solid #f7f8f8;
		background-color: #fbfcfc;
		color: #373737; }
	.message-default-analogous1-100 {
		border: 5px solid #dae1e1;
		background-color: #edf0f0;
		color: #373737; }
	.message-default-analogous1-200 {
		border: 5px solid #a8b7b8;
		background-color: #d3dbdc;
		color: #373737; }
	.message-default-analogous1-300 {
		border: 5px solid #677d7f;
		background-color: #b2bfc0;
		color: #fefefe; }
	.message-default-analogous1-400 {
		border: 5px solid #303b3b;
		background-color: #90a4a5;
		color: #fefefe; }
	.message-default-analogous1-500 {
		border: 5px solid #0b0e0e;
		background-color: #799192;
		color: #fefefe; }
	.message-default-analogous2-50 {
		border: 5px solid #f7f7f8;
		background-color: #fbfbfc;
		color: #373737; }
	.message-default-analogous2-100 {
		border: 5px solid #dadce1;
		background-color: #ededf0;
		color: #373737; }
	.message-default-analogous2-200 {
		border: 5px solid #a8abb8;
		background-color: #d3d5dc;
		color: #373737; }
	.message-default-analogous2-300 {
		border: 5px solid #676c7f;
		background-color: #b2b5c0;
		color: #fefefe; }
	.message-default-analogous2-400 {
		border: 5px solid #30323b;
		background-color: #9094a5;
		color: #fefefe; }
	.message-default-analogous2-500 {
		border: 5px solid #0b0c0e;
		background-color: #797e92;
		color: #fefefe; }
	.message-default-analogous3-50 {
		border: 5px solid #f8f7f8;
		background-color: #fbfbfc;
		color: #373737; }
	.message-default-analogous3-100 {
		border: 5px solid #e0dae1;
		background-color: #efedf0;
		color: #373737; }
	.message-default-analogous3-200 {
		border: 5px solid #b5a8b8;
		background-color: #dad3dc;
		color: #373737; }
	.message-default-analogous3-300 {
		border: 5px solid #7a677f;
		background-color: #bdb2c0;
		color: #fefefe; }
	.message-default-analogous3-400 {
		border: 5px solid #39303b;
		background-color: #a190a5;
		color: #fefefe; }
	.message-default-analogous3-500 {
		border: 5px solid #0e0b0e;
		background-color: #8d7992;
		color: #fefefe; }
	.message-default-analogous4-50 {
		border: 5px solid #f8f7f7;
		background-color: #fcfbfb;
		color: #373737; }
	.message-default-analogous4-100 {
		border: 5px solid #e1dade;
		background-color: #f0edee;
		color: #373737; }
	.message-default-analogous4-200 {
		border: 5px solid #b8a8af;
		background-color: #dcd3d7;
		color: #373737; }
	.message-default-analogous4-300 {
		border: 5px solid #7f6772;
		background-color: #c0b2b8;
		color: #fefefe; }
	.message-default-analogous4-400 {
		border: 5px solid #3b3035;
		background-color: #a59099;
		color: #fefefe; }
	.message-default-analogous4-500 {
		border: 5px solid #0e0b0d;
		background-color: #927985;
		color: #fefefe; }

@media all and (max-width: 640px) {
	.site-header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center; }
	.site-header .top-bar-right .menu {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-bottom: 1rem; }
		.site-header .top-bar-right .menu li a {
			font-size: 2rem; }
		.site-header .top-bar-right .menu li a i {
			font-size: 2.5rem; } }

@media all and (max-width: 735px) {
	.site-header {
		padding: 0 0.25rem; } }

@media all and (min-width: 1024px) {
	.site-header {
		padding: 0 10rem; } }
