body {
	background-color: $body--bg-color;
	color: $text-color;
}

.site-header { background-color: $site-header--bg-color; }
.site-title { color: $site-title--color; }

ul.menu { background-color: transparent; }

body {
	background-color: $body--bg-color;
	color: $body--color;
}

.legal-notice {
	color: $legal-notice--color;
	border-left: $legal-notice--border-left;
	background-color: $legal-notice--bg-color;
}

#location-menu {
	background-color: $accordion--bg-color;

	& li {
		// background-color: $accordion--bg-color;
		border: 0;

		&:active,
		&.is-active {
			background-color: $accordion--bg-color-2;
		}
	}

	& a {
		color: getContrast($accordion--bg-color);
	}
}

li.list {
	background-color: $list--bg-color;
	a { color: $list--color; }
}

li.pantry {
	background-color: $pantry--bg-color;
	a { color: $pantry--color; }

	&.accordion-item::after {
		background-color: $pantry--bg-color;
	}
}

li.refrigerator {
	background-color: $fridge--bg-color;
	a { color: $fridge--color; }
}

li.freezer {
	background-color: $freezer--bg-color;
	a { color: $freezer--color; }
}

.accordion .food {
	background-color: $food--bg-color;
	color: $food--color;
}