@import "../../../styles/global/core";

$coreColors: (
	"green": #CBE896,
	"orange": #F7934C,
	"blue": #087e8b,
	"red": #ca2e55,
	"neutral": #2f2f2f
);

@include palette($color: 'green', $complement-name: 'complement', $rangeType: 'static', $rangeDepth: 9);
// @debug $palette;

$body--bg-color: getColor('neutral-50');
$text-color: getColor('neutral-700');
$site-header--bg-color: getColor('green-500');
$site-title--color: getColor('neutral-50');

$body--bg-color: getColor('neutral-100');
$body--color: getColor('neutral-900');
$legal-notice--color: getColor('neutral-400');
$legal-notice--border-left: 4px solid getColor('orange-400');
$legal-notice--bg-color: darkenColor(getColor('neutral-50'), 6);

$accordion--bg-color: getColor('neutral-500');
$accordion--bg-color-2: getColor('green-500');

$pantry--bg-color: getColor('orange-400');
$pantry--color: getContrast($pantry--bg-color);

$fridge--bg-color: getColor('blue-400');
$fridge--color: getContrast($fridge--bg-color);

$freezer--bg-color: getColor('red-400');
$freezer--color: getContrast($freezer--bg-color);