@import "../../../styles/global/core";

$coreColors: (
	"sizzling": #F2545B,
	"amaranth": #A93F55,
	"taupe": #8C5E58,
	"cream": #F3F7F0,
	"neutral": #19323C
);

@include palette($color: 'sizzling', $complement-name: 'complement', $rangeType: 'static', $rangeDepth: 9);

$body--bg-color: getColor('neutral-900');
$text-color: getColor('neutral-700');
$site-header--bg-color: getColor('sizzling-500');
$site-title--color: getColor('neutral-50');

$body--bg-color: getColor('neutral-100');
$body--color: getColor('cream-400');
$legal-notice--color: getColor('neutral-400');
$legal-notice--border-left: 4px solid getColor('amaranth-400');
$legal-notice--bg-color: darkenColor(getColor('neutral-50'), 6);

$accordion--bg-color: getColor('neutral-500');
$accordion--bg-color-2: getColor('sizzling-500');

$pantry--bg-color: getColor('amaranth-400');
$pantry--color: getContrast($pantry--bg-color);

$fridge--bg-color: getColor('taupe-400');
$fridge--color: getContrast($fridge--bg-color);

$freezer--bg-color: getColor('cream-400');
$freezer--color: getContrast($freezer--bg-color);